.navbar {
  border: none !important;
  box-shadow: 0 5px 5px -5px #28353f;
}
.navbar-dark .navbar-brand {
  font-size: 1.5rem;
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-toggler:visited,
.navbar-dark .navbar-toggler:active,
.navbar-dark .navbar-toggler:focus,
.navbar .nav-link {
  border: none !important;
  outline: none;
}

main {
  min-height: 80vh;
  background-color: #425666;
}

h1 {
  padding: 0.4rem 0;
  font-size: 1.4rem;
}

.product-card {
  min-height: 420px;
  border: none !important;
  background-color: #354754 !important;
  box-shadow: 0 10px 10px -5px #28353f;
}

.rating {
  padding: 10px 0;
  font-size: 12px;
}

.rating span {
  margin: 0.1rem;
}
